---
# tasks file for ansible/roles/cloudflare
- name: Create a test.example.net A record to point to 127.0.0.1
  community.general.cloudflare_dns:
    zone: "{{ website.split('.')[1] }}.{{ website.split('.')[2] }}"
    record: "{{ website.split('.')[0] }}"
    type: A
    value: "{{ ansible_host }}"
    account_email: "{{cloudflare_email}}"
    account_api_key: "{{cloudflare_api_token}}"

# - name: Install Certbot Cloudflare
#   package: 
#     name: "{{ item }}"
#     state: present
#   loop:
#     - certbot 
#     - python3-certbot-nginx
# - name: Create Certbot folder - /etc/letsencrypt
#   file:
#     path: /etc/letsencrypt
#     state: directory
#     owner: root
#     group: root
#     mode: 0700
# - name: Certbot | Generate Certificate
#   command: certbot --nginx --agree-tos -m sothylorn14.kh@gmail.com -d nginx-demo-4.sothy.tech
#   args:
#     creates: /etc/letsencrypt/renewal/nginx-demo-4.sothy.tech.conf
# - name: Check Certbot File - post_hook
#   lineinfile:
#     dest: /etc/letsencrypt/renewal/nginx-demo-4.sothy.tech.conf
#     line: "post_hook = /bin/systemctl restart nginx.service"
#     regexp: "^post_hook ="